@import "tailwindcss";

body {
  font-family: "Playfair Display", serif;
  font-family: "Source Serif 4", serif;
  background-color: #ffffff;
  color: #000000;
}

html.dark body {
  background-color: #525252;
}

html.dark header {
  background-color: #374151;
}

html.dark nav {
  background-color: #44403c;
}

html.dark footer {
  background-color: #374151;
}

html:not(.dark) main {
  background-color: #ffffff;
}
